<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.telek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Телэк"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.telek.TestActivity">

        </activity>
        <activity
            android:name="com.example.telek.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.telek.GameActivity"
            android:exported="false" />
        <activity
            android:name="com.example.telek.LevelActivity"
            android:exported="false" />
        <activity android:name="com.example.telek.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>